@import "helpers";

*{
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    width: 420px;
    margin: 0px auto;
    color: $light-grey;
    display: flex;
    height: 100vh;
}
button {cursor: pointer;}

.body-wrapper {
    width: 420px;
    align-self: center;
    padding: 0px 10px; 
}
.notice {
    font-size: 1.2rem;
    color: $white;
    text-align: center;
    position: relative;
    background-color: $dark-grey;
    border-radius: $border-radius;
    padding: 3px;
    margin-bottom: 15px;
    
    &:after {
        content: "";
        position: absolute;
        right: 10%;
        @include _triangle
    }
}

.amount-remaining {
    @include _stand-out;
}

.progress-bar {
    height: 16px;
    width: 100%;
    background-color: $off-white;
    border: $borders;
    border-bottom: none;
    
    .fill {
        height: 15px;
        display: block;
        width: 83%;
        background-color: $highlight;
    }
}

.main {
    border: $borders;
    padding: 0 2rem;
}

.days-remaining {
    @include _stand-out;
    color: $highlight;
}

.donor-count {
    @include _stand-out;
}

.donation {
    @include _flex-parent;
    position: relative;
}

.dollar-sign {
    font-size: 1.5rem;
    line-height: 3.6rem;
    position: absolute;
    left: 5px;
}

.donation-amount {
    @include _form-items;
    border: $borders;
    padding-left: 25px;
    font-size: 1.5rem;
}

.submit {
    @include _form-items;
    font-size: 1.2rem;
    color: $white;
    text-align: center;
    background-color: $submit;
    border: 1px solid $submit-border;
    border-bottom-width: $bottom-width;
    display: inline-block; //for IE < Edge
}

.why-give {
    text-decoration: none;
    font-style: italic;
    color: $links
}

.action-buttons {
    @include _flex-parent;
    margin-top: 10px;
}

.btn {
    width: 47%;
    color: $light-grey;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
    border: $borders;
    border-bottom-width: $bottom-width;
    border-radius: $border-radius;
    background-color: $off-white;
}